# 5 Different String Functions in Python

In [8]:
st = "Hello LetsUpgrade Team"

In [3]:
st.lower()

'hello letsupgrade team'

In [4]:
st.capitalize()

'Hello letsupgrade team'

In [5]:
st.count("e")

4

In [6]:
st.islower()

False

In [7]:
st.find("Hello")

0

#  5 Different functions of the List object in Python

In [14]:
num = [1,2,4,7]

In [15]:
name= ["Chaandini","Venky","Raji"]

In [16]:
lst = num + name

In [17]:
lst

[1, 2, 4, 7, 'Chaandini', 'Venky', 'Raji']

In [18]:
lst.count("Venky")

1

In [19]:
lst.reverse()

In [20]:
lst

['Raji', 'Venky', 'Chaandini', 7, 4, 2, 1]

In [21]:
lst.index("Raji")

0

In [31]:
lst.append(5)

In [32]:
lst

['Raji', 'Venky', 'Chaandini', 7, 4, 2, 5]

In [33]:
lst.pop()

5

In [35]:
lst

['Raji', 'Venky', 'Chaandini', 7, 4, 2]

# 5 default functions of Dictionary

In [39]:
dit= {"Nancy":"25", "Ben":"23", "Jhon":"21", "Steve":"27", "Mike":"24"}

In [40]:
dit["Mike"]

'24'

In [41]:
dit.get("Jhon")

'21'

In [45]:
dit.keys()

dict_keys(['Nancy', 'Ben', 'Jhon', 'Steve', 'Mike'])

In [46]:
dit.values()

dict_values(['25', '23', '21', '27', '24'])

In [48]:
dit.copy()

{'Nancy': '25', 'Ben': '23', 'Jhon': '21', 'Steve': '27', 'Mike': '24'}

In [56]:
dit.fromkeys("Ben")

{'B': None, 'e': None, 'n': None}